@import "./components/components";

.content {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.app {
  width: 100%;
  position: relative;
  overflow: hidden;
}
* {
  box-sizing: border-box;
  user-select: none;
}
html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: #212121;
  font: 24px/1.4 "RobotoDraft", sans-serif;
}
