.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
  position: relative;
  &__empty {
    color: grey;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
