.todo-tab {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: whitesmoke;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 15px;
  width: 50%;
  padding-left: 16px;
  cursor: pointer;
  color: grey;
  &.active {
    -webkit-box-shadow: 9px 4px 4px -1px #a8a8a8;
    -moz-box-shadow: 9px 4px 4px -1px #a8a8a8;
    box-shadow: 8px 1px 5px -5px #a8a8a8;
    z-index: 1;
    color: black;
  }
  &__container {
    display: flex;
    background-color: whitesmoke;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    top: 70px;
    width: 100%;
  }
}
