.todo-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: fixed;
  z-index: 2;

  &__title,
  &__date {
    padding: 16px;
    font-size: 15px;
    border-style: hidden;
  }
  &__title {
    border-top-left-radius: 5px;
    border-right: 1px solid lightgrey;
  }
  &__submit {
    border: none;
    height: 100%;
    display: inline-block;
    padding: 18px;
    font-size: 15px;
    flex-grow: 1;
    background-color: #d76808;
    border-top-right-radius: 5px;
    color: white;
    font-size: 1.2em;
  }
  input {
    width: 33%;
    font-size: 70%;
  }

  input[type="checkbox"] {
    height: 0;
    width: 0;
    display: none;
  }

  input[type="checkbox"] + label {
    position: relative;
    display: flex;
    margin: 0.6em 0;
    align-items: center;
    color: #9e9e9e;
    transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
  }
  input[type="checkbox"] + label > ins {
    position: absolute;
    display: block;
    bottom: 0;
    left: 2em;
    height: 0;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    transition: height 300ms cubic-bezier(0.4, 0, 0.23, 1);
  }
  input[type="checkbox"] + label > ins > i {
    position: absolute;
    bottom: 0;
    font-style: normal;
    color: #4fc3f7;
  }
  input[type="checkbox"] + label > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    background: transparent;
    border: 2px solid #9e9e9e;
    border-radius: 2px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
  }

  input[type="checkbox"] + label:hover,
  input[type="checkbox"]:focus + label {
    color: #fff;
  }
  input[type="checkbox"] + label:hover > span,
  input[type="checkbox"]:focus + label > span {
    background: rgba(255, 255, 255, 0.1);
  }
  input[type="checkbox"]:checked + label > ins {
    height: 100%;
  }

  input[type="checkbox"]:checked + label > span {
    border: 0.5em solid #1bbc9b;
    animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
  }
  input[type="checkbox"]:checked + label > span:before {
    content: "";
    position: absolute;
    top: 0.4em;
    left: 0.2em;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
  }
}
