@import "../mixins/drop-shadows";
@import "../animations/animations";

.todo {
  height: 140px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: move;
  @include elevation(1);

  &-title,
  &-subtitle {
    margin: 0;
    display: inline-block;
    font-size: 70%;
  }
  &-subtitle {
    width: 100%;
    font-weight: 100;
    color: grey;
  }
  &-left {
    flex-grow: 1;
  }
  input[type="checkbox"] {
    height: 0;
    width: 0;
    display: none;
  }

  input[type="checkbox"] + label {
    position: relative;
    display: flex;
    margin: 0.6em 0;
    align-items: center;
    color: #9e9e9e;
    transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
  }
  input[type="checkbox"] + label > ins {
    position: absolute;
    display: block;
    bottom: 0;
    left: 2em;
    height: 0;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    transition: height 300ms cubic-bezier(0.4, 0, 0.23, 1);
  }
  input[type="checkbox"] + label > ins > i {
    position: absolute;
    bottom: 0;
    font-style: normal;
    color: #4fc3f7;
  }
  input[type="checkbox"] + label > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    background: transparent;
    border: 2px solid #9e9e9e;
    border-radius: 2px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
  }

  input[type="checkbox"] + label:hover,
  input[type="checkbox"]:focus + label {
    color: #fff;
  }
  input[type="checkbox"] + label:hover > span,
  input[type="checkbox"]:focus + label > span {
    background: rgba(255, 255, 255, 0.1);
  }
  input[type="checkbox"]:checked + label > ins {
    height: 100%;
  }

  input[type="checkbox"]:checked + label > span {
    border: 0.5em solid #1bbc9b;
    animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
  }
  input[type="checkbox"]:checked + label > span:before {
    content: "";
    position: absolute;
    top: 0.4em;
    left: 0.2em;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
  }
  .reveal-area {
    z-index: 0;
    background-color: #ff4747;
    color: white;
    font-weight: bold;
    height: 100%;
    display: flex;
    width: 100%;
    padding-left: 16px;
    flex-direction: column;
    justify-content: center;
  }
  .swipe-area {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: white;
    height: 140px;
    padding: 16px;
  }
}
